# Server Configuration
PORT=3002
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/?appName=Captain

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRY=7d

# Application
APP_NAME=Captain Service
